<section id="generic-view">

  <header>
  <div class="d-flex">
    <div class="flex-grow-1"><h1>Diagnose</h1></div>
    <div class="d-flex">
      <div>
        <img src="./assets/image/refresh.png" class="image-width" (click)="onReload()" />
      </div>
      <select name="client"
        [(ngModel)]="selectedClient"
        (change)="onClientChanged()"
      >
        <option *ngFor="let client of clients"
                [value]="client.id">{{ client.name }}</option>
      </select>
      <select name="language"
        [(ngModel)]="selectedLanguage"
        (change)="onLanguageChanged()"
      >
        <option *ngFor="let language of languages"
                [value]="language.code">{{ language.name }}</option>
      </select>
      
      <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
      </label>
      <span class="text">Deeper Analysis</span>
    </div>
  </div>
    
  
    <nav class="breadcrumb">
      <xng-breadcrumb></xng-breadcrumb>
    </nav>
  
  </header>
 <div class="d-flex">
   <div class="data-sec"><app-text-diagnose [response]="response"></app-text-diagnose></div>
   <section class="side">
     <app-searched-data [response]="response"></app-searched-data>
   </section>
 </div> 

</section>