<section id="generic-view">

  <header>
  <div class="d-flex">
    <div class="flex-grow-1"><h1>Diagnose</h1></div>
    <div class="d-flex">
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
          <span class="text">Deeper Analysis</span>
    </div>
  </div>
    
  
    <nav class="breadcrumb">
      <xng-breadcrumb></xng-breadcrumb>
    </nav>
  
  </header>
 <div class="d-flex">
   <div class="data-sec"><app-text-diagnose></app-text-diagnose></div>
   <section class="side">
     <app-searched-data></app-searched-data>
   </section>
 </div> 

</section>