<div class="container">
    <div class="mainly">
        <div class="child-of-mainly">
            <span>i</span>
            <span>i</span>
        </div>
        <div class="child-of-mainly">
            <span>really</span>
            <span>really</span>
        </div>
        <div class="child-of-mainly">
            <span>love</span>
            <span>love</span>
        </div>
        <div class="child-of-mainly">
            <span>scrambled egg</span>
        <span>breakfast_food</span>
        </div>
        <div class="child-of-mainly">
            <span>They</span>
            <span>they</span>
        </div>
        <div class="child-of-mainly">
            <span>are</span>
            <span>are</span>
        </div>
        <div class="child-of-mainly">
            <span>the</span>
            <span>the</span>
        </div>
        <div class="child-of-mainly">
            <span>shiiiit</span>
            <span>shit</span>
        </div>
    </div>
</div>