<div class="search-data">I really live scambled egg</div>
<hr/>
<div class="d-flex">
    <div class="topic">
        <div class="child-topic-text">Topics</div>
        <div class="child-topic-box white">
            <div class="child-topic-box-text">General Risk</div>
            <div class="child-topic-box-number">2</div>
            </div>
        <div class="child-topic-box orange">Vulgar</div>
    </div>
    <div class="policy">
        <div class="child-topic-text">Policy Guides</div>
        <div class="child-topic-box red">General Risk</div>
        <div class="child-topic-box green">Vulgar</div>
    </div>
</div>
<hr />
<div class="button-sec">
<button class="black">Escalate</button>
<button class="blue">Gerkin Test</button>
<button class="green">Create Rule</button>
</div>