<div class="search-data">{{ apiResponse?.text }}</div>
<hr/>
<div class="d-flex align-top">
    <div class="topic">
        <div class="child-text">Topics</div>
        <div class="child-topic-box white d-flex align-center" *ngFor="let topic of topicsArr"> 
            <!-- images for topics using angular material -->
            <!-- <i *ngIf="topic === '0'" class="material-icons icon-width">numeric-{{apiResponse?.topics[topic]}}-box</i>
            <i  *ngIf="topic !== '0'"  class="material-icons icon-width">{{ allTopics[topic].icon }}</i> -->
            <div class="child-topic-box-text">{{ allTopics[topic].name }}</div>
            <div class="child-box-number">{{ apiResponse?.topics[topic] }}</div>
        </div>
    </div>
    <div class="policy">
        <div class="child-text">Policy Guides</div>
        <!--
            global risk 6 or higher or vulgar risk 5 or higher
        -->
        <div class="child-topic-box d-flex align-center pad" [ngClass]="(apiResponse?.topics[0] >= 6 || apiResponse?.topics[5] >= 5) ? 'red' : 'green'">
            <img class="img-width" [src]="apiResponse?.topics[0] >= 6 || apiResponse?.topics[5] >= 5 ? './assets/image/dislike.svg' : './assets/image/like.svg'"/>
            <div class="child-topic-box-text">Gobal Chat</div>
        </div>

        <!--
            vulgar risk 6 or higher
        -->
        <div class="child-topic-box d-flex align-center pad" [ngClass]="(apiResponse?.topics[5] >= 6) ? 'red': 'green'">
            <img class="img-width" [src]="apiResponse?.topics[5] >= 6 ? './assets/image/dislike.svg' : './assets/image/like.svg'"/>
            <div class="child-topic-box-text">Private chat</div>
        </div>
    </div>
</div>
<hr />
<app-ai-prediction-percentage [aiPrediction]="apiResponse?.predictions"></app-ai-prediction-percentage>
<hr />
<div class="button-sec">
    <button class="black">Escalate</button>
    <button class="blue">Gerkin Test</button>
    <button class="green">Create Rule</button>
</div>