<div class="search-data">I really live scambled egg</div>
<hr/>
<div class="d-flex">
    <div class="topic">
        <div class="child-text">Topics</div>
        <div class="child-topic-box white">
           
            <div class="child-topic-box-text">General Risk</div>
            <div class="child-box-number">2</div>
            </div>
        <div class="child-topic-box orange">
                <div class="child-topic-box-text">Vulgar</div>
                <div class="child-box-number">2</div>
            
            </div>
    </div>
    <div class="policy">
        <div class="child-text">Policy Guides</div>
        <div class="child-topic-box red">
            
                <div class="child-topic-box-text">Gobal Chat</div>
                <div class="child-box-number">2</div>
            </div>
        <div class="child-topic-box green">
            
                <div class="child-topic-box-text">Private chat</div>
                <div class="child-box-number">2</div>
           </div>
    </div>
</div>
<hr />
<div class="prediction-section">
        <div class="child-text">AI Prediction</div>
        <div class="d-flex mb-2">
            <div class="child-prediction-text">en</div>
            <input type="range" min="1" max="100" step="1" value="98">
            <div class="child-prediction-text">98%</div>
        </div>
        <div class="d-flex mb-2">
                <div class="child-prediction-text">fr</div>
                <input type="range" min="1" max="100" step="1" value="5">
                <div class="child-prediction-text">2%</div>
            </div>
            <div class="d-flex">
                    <div class="child-prediction-text">fraud</div>
                    <input type="range" min="1" max="100" step="1" value="10">
                    <div class="child-prediction-text">10%</div>
                </div>
       
</div>
<hr />
<div class="button-sec">
<button class="black">Escalate</button>
<button class="blue">Gerkin Test</button>
<button class="green">Create Rule</button>
</div>