<header class="main">

  <main-logo></main-logo>
  
  <main-search (searchKeyEntered)="onSearch($event)"></main-search>
  
  <client-picker [selectedClient]="this.userService.preferences.lastClientId"
                 (clientChanged)="onUserChangedClient($event)"
  ></client-picker>

  <language-picker [selectedLanguage]="this.userService.preferences.language"
                   (languageChanged)="onUserChangedLanguage($event)"
  ></language-picker>
  
  <a11y-flyout></a11y-flyout>
  
  <user-flyout></user-flyout>
</header>